
<!---after submitting an edit,we encounter a 
    bug and the app directs you to a URL that does not exist, 
    it does update the server though.-->
 {% extends 'gym_bro/base.html' %} 
 {% block content %}
<h1> Edit an Excercise to the Workouts directory</h1>

<form method="POST">

    {% csrf_token %}

    <table>
        {{form.as_table}}
        <tr>
            <td></td>
            <td><input type="submit" value="Save Edit"></td>

        </tr>

        

    </table>

    <p> 

    To View all workouts click here <a href="{% url 'workouts' %}">here!</a>|

    </p>


    {% endblock %}