<!--The default home page when you request /gym_bro-->
<!--Could not figure out how-->
{% extends 'gym_bro/base.html' %} 
{% block content %}
<html>
<center>
    <body style="background-color:gainsboro;">
<h1> HOME </h1>
<p>

<h2> Welcome to Gym Bro.  </h2>

<h3> Gym Bro is an online Platform that hopes to aid you in your fitness Journey </h3>  
<p> 
    Start your journey and add yourself as a user <a href="{% url 'add_user' %}">here!</a>|
</p>

<p> View All of our Excercies to add to your program <a href="{% url 'workouts' %}">here!</a>| </p>



</p>
Already a User? Select your username to view your workout program <br> and update with excercises that you have completed <br>
by selecting your user name below!  
<br>
    {% for u in user_names %}

    <table border="1">  
        <tr> 
            <td>
                User Name : 
            </td>
            <td> 
                <a href="{% url 'user_page' u.pk %}">{{u}} </a> 
            
            
            
            
        </tr>
    </table>
   
    {% endfor %}


<p>

</p>
<a href="{% url 'random' %}">Random workout for inspiration!</a>|

<hr> 
</body>
</center>
</html>

{% endblock %}
