<!--gym_bro/program.html-->
<!--Template to veiw one users excercise Program-->
<!--will need a lot of formating keep in mind for later : chronological view, reps , sets, functions to see change?-->
<!--Major Bug found in the last minute : This template displays data for all users, does not filter
To avoid crisis by rearranging, I simply added links to the individual users-->

<html>   

<center>
<h1>Workouts for All Users! </h1>
Return to the Home Page to select a single user <a href="{% url 'home' %}">here!</a>|

    <h2>Here you can compare your program progress with others as they update in real time!<h2>
</center>


{% for p in program %}
<table> 
<tr> 

    <td> On {{p.date}} , </td> 
    <td> {{p.user}} Did  {{p.excercises}} </td> 
    <td> For  {{p.reps}} reps : {{p.sets}} Sets  </td>

    

<td></td> 
<td></td>
<tr></tr><tr></tr><tr></tr>
</tr> 

</table>
{% endfor %}
</ul>



</html>