<!--This is a template html that will display the excercises that we have coded into the admin tool--> 
{%extends 'gym_bro/base.html' %} 
{% block content %}

<h1>Showing all Workouts</h1>  
<p> 
Add an Excercise By clicking <a href="{% url 'create_workout' %}">here.</a>|
</p>
<!--Display the data in the model by calling the context object name--> 

<!--Workouts displayed in a loop for aesthetic purposes-->

{% for workout in workouts %} <!--workout is the runner variable through queryset workouts-->

<table>

<tr> 
    <td>
    {{workout.name}}
    </td>
    <td></td>
    <td>
    {{workout.description}} 
    </td>
    <td></td>
    <td>  
    <img src = "{{workout.image_url}}"style="width: 250;">  
    </td> 
    <td></td> 
</tr>
<tr></tr>
<tr></tr>
<tr></tr>


</table>
{% endfor %}

Add an Excercise By clicking <a href="{% url 'create_workout' %}">here.</a>|

</ul>

{% endblock %}