{% extends 'mini_fb/base.html' %}

{% block content %}
<center>
<h1>
    {{Profile.first_name}} - {{Profile.last_name}}
</h1>

<img src = "{{Profile.img_src}}" style="max-width: 350;" <br>

<h3>

Email Address : {{Profile.email_address}}
</h3>

<h4>
    Status Messages: 
    {% for statuses in Profile.get_status_messages %}

        <li> {{statuses}} </li>
        
    {% endfor %}
</h4>
<h5><a href="{% url 'update_profile' Profile.pk %}">Update this Profile</a></h5>



<h6>Update Profile Status</h6>


<form method="POST">
    {% csrf_token %}

    {{create_status_form}}

    <input type="submit" value="Add Status Message!">
</form> 

</center> 
{% endblock %}

