<!--quotes/home.html-->

{% extends 'quotes/base.html' %}

{% block content %}
<h1>Showing all Quotes</h1>

<!--Display the data from the context data-->
<ul>
   {% for quote in quotes %}
    <li> {{quote.text}} - {{quote.person}} <br> 
        <img src="{{quote.person.get_random_image}} " style="max-width: 400;">

    </li>
    

    {% endfor %} 

</ul>

{% endblock %}
<!--two curly braces tells us its a context object calling, we spicified that it would be called 
'qoutes' in our views file -->